body {
   background-color: #1f2020;
   color: whitesmoke;
   font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, 
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   text-align: left;
}
.navbar {
    border-bottom: 4px solid #b1ada9;
}
h2 {
    margin-top: 100px;
    font-weight: normal;
}
.homeid {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}