.PI-id {
    position: relative;
    margin: auto;
    top: 10px;
    width: 800px;
    height: 800px;
    border: 5px solid gray;
}
.uanme-top {
    border-bottom: 2px solid gray;
}
.uanme-id {
    display: inline-block;
    margin: 10px 270px;
}
.uname {
    font-size: 25px;
    white-space: nowrap;
}
.uname-bottom {
    position: relative;
}
.gts-pro .gts-exe .gts-item1 .gts-item2 {
    display: inline-block
}
.uname-edu {
    position: relative;
    top: 30px;
    left: 30px;
}
.edu-title {
    font-weight: bold;
}
.edu-detail {
    position: relative;
    top: 50px;
    left: 50px;
}
.edu-date1 {
    position: relative;
    display: inline-block;
    bottom: 23px;
}

.edu-par1 {
    display: inline-block;
    position: relative;
    left: 100px;
    white-space:pre-line
}
.edu-par2 {
    display: inline-block;
    position: relative;
    left: 242px;
    bottom: 23px;
}
.edu-par3 {
    display: inline-block;
    position: relative;
    left: 242px;
    bottom: 23px;
}
.edu-par4 {
    display: inline-block;
    position: relative;
    left: 242px;
    bottom: 23px;
}