.PI-id {
    position: relative;
    display: flex;
    margin: auto;
    top: 10px;
    width: 800px;
    height: 800px;
    border: 5px solid gray;
}
.uanme-id {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid gray;
}