.tea-title,
.tea-bot {
    width: 800px;
    margin: auto;
}
.tea-uname1,
.tea-uname2,
.tea-uname3,
.tea-uname4,
.tea-uname5,
.tea-uname6,
.tea-uname7 {
    width: 750px;
    margin: auto;
}
.tea-par1,
.tea-par2,
.tea-par3,
.tea-par4,
.tea-par5,
.tea-par6,
.tea-par7{
    width: 650px;
    margin: auto;
}
table {
    border: 1px solid black;
    background-color: blue;
}
td {
    margin-left: 10px;
}